/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(/e.jpg);
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/image.jpg');
    background-size: cover;      /* Ensures the image covers the entire body */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    backdrop-filter: blur(20px);  /* Apply blur effect */
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-container input[type="text"] {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.form-container button {
    padding: 10px;
    background-color: lightblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.climate-container {
    text-align: center;
}

.temperature {
    font-size: 24px;
    margin-bottom: 10px;
}

.weather-description {
    font-size: 16px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
